@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: linear-gradient(to right,  #FF532C, #F9980B, #F8CA2A);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background-image: linear-gradient(#F7DEC0, #F0EBD8, #50B0C8, #2c95b5, #2888A5, #247B95, #206E86, #1D6176, #195466);
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;  
}

.logo{
  font-size: 3em;
  margin-top: 6px;
  margin-bottom: 10px;
  color: white;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1 em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav{
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1)
}

.nav-toggle:checked ~ nav a{
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo{
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3/ 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a{
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

#DIV{
  position: absolute;
  margin-top: 68px;
  margin-left: 5px;
  justify-items: center;
  align-items: center;
  }

  .content h2{
    position: absolute;
    transform: translated (-50%, -50%);
    font-size: 4em;
    justify-items: center;
    align-items: ceneter;
  }

  .content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  .content h2:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -200px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .parent {
    height: 500px;
    width: 460px;
    position: relative;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  footer{
    margin-top: auto;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom right, #195466, #154756, #113A47, #0D2D37, #092027, #061317, #020607);
    color: white;
    padding: 20px 50px;
  }
  
  .list{
    text-align: center;
    padding-bottom: 25px;
    color: white;
  }
  
  .list a {
    font-size: 24px;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
  }
  
  .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
  }
  
  .social a {
    font-size: 48px;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }